/****** General ******/

:root {
    --Turquoise: #99E2D0;
    --Green: #008766;
    --Cyan: #89c8fa;
    --NavyBlue: #003a68;
    --Purple: #9356dc;

    --Background-light: #FFFFFF;
    --Background-Restaurants: #F7F7F7;
    --Background-Dark: #EAEAEA;
    --Background-Darker: #353535;

    --Title: 'Shrikhand', cursive;
    --Text: 'Roboto', sans-serif;
}

body {
    margin: 0px;
}
/****** Liens / Boutton ******/
a {
    text-decoration: none;
    color: black;
}

.spinner {
    border: 5px solid var(--Cyan);
    border-left-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hidden {
    0% {
        opacity: 1;
        display: initial;
    }
    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: hidden 0.5s 2s forwards;
}

/****** SVG ******/

.fa-store {
    color: var(--Purple);
    margin-right: 20px;
}

.fa-list-ul {
    margin-right: 23px;
    color: #7E7E7E;
}

.fa-mobile-screen {
    margin-right: 27px;
    color: #7E7E7E;
}

.heart {
    width: 22px;
    height: 21px;
    position: absolute;
    right: 25px;
    bottom: 33px;
}

.heartlinear :active {
    background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

.fa-utensils {
    margin-right: 11px;
}

.fa-handshake-angle {
    margin-right: 11px;
}

.full {
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    font-size: 22px;
    bottom: 5px;
    right: 44px;
}

.solid {
    opacity: 0;
    transition: opacity 0.5s;
}

.empty {
    position: absolute;
    font-size: 22px;
    bottom: 5px;
    right: 44px;
}

.solid:hover {
    opacity: 1;
}

/****** Fonctionnement ******/

.fonctionnement {
    margin-top: 48px;
    margin-bottom: 68px;
}

.n1 {
    background: #9356DC;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    position: absolute;
    left: -11px;
    bottom: 22px;
}

.n2 {
    background: #9356DC;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    position: absolute;
    left: -11px;
    bottom: 22px;
}

.n3 {
    background: #9356DC;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    position: absolute;
    left: -11px;
    bottom: 22px;
}

.fonctionnement h2 {
    margin-bottom: 26px;
    margin-left: 20px;
    font-family: var(--Text);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fonc {
    font-family: var(--Text);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    color: #000000;
    width: 85%;
    height: 72.30px;
    margin-right: 20px;
    margin-left: 32px;
    margin-bottom: 25px;
    background-color: #f6f6f6;
    position: relative;
}


/****** Flexbox ******/

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.just-cont {
    justify-content: center;
}

.just-cont-fstart {
    justify-content: flex-start;
}

.just-cont-fend {
    justify-content: flex-end;
}

.align {
    align-items: center;
}

.align-fstart {
    align-items: flex-start;
}

.align-fend {
    align-items: flex-end;
}

.wrap {
    flex-wrap: wrap;
}

.flex {
    display: flex;
}


/****** Cadres ******/

.border20 {
    border-radius: 20px;
}

.shadow {
    box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px #0000001A;
}

/****** Discover ******/

.discover {
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover p {
    font-family: var(--Text);
    font-size: 18px;
    font-weight: 300;
    margin-left: 34px;
    margin-right: 26px;
    margin-bottom: 27px;
    text-align: center;
}

.discover h2 {
    font-family: var(--Text);
    font-size: 24px;
    font-weight: 700;
    margin-top: 40px;
    margin-left: 42px;
    margin-right: 58px;
    margin-bottom: 0px;
    text-align: center;
}

.discover button {
    margin-bottom: 57px;
    margin-left: 82px;
    margin-right: 75px;
    color: white;
    border-style: none;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--Text);
}
/****** OhMyFood ******/

.Titre {
    width: 100%;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.OhMyFood {
    width: 43.2%;
    height: 44px;
    color: #101010;
    font-weight: 400;
    font-size: 30px;
    font-style: italic;
    line-height: 44px;
    font-family:  var(--Title);
}

/****** Localisation ******/

.Localisation {
    background-color: var(--Background-Dark);
    font: var(--Text);
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    height: 50px;
}

.Localisation button {
    border-style: none;
    background-color: var(--Background-Dark);
    font-family: var(--Text);
    line-height: 19px;
    font-size: 16px;
    font-weight: 500;
}

.Localisation i {
    margin-right: 17px;
}

/****** Bouttons ******/

.btn-round {
    border-radius: 25px;
}

.btn {
    width: 58%;
    height: 50px;
}

.explore {
    width: 218px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(#9356DC, #FF79DA);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.explore:hover {
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%),linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

.linear-btn {
    background: linear-gradient(#9356DC, #FF79DA);
}

.btn-whitetext {
    color: white;
}
/****** Nouveautés ******/

.new {
    background: var(--Turquoise);
    width: 80px;
    height: 29px;
    box-shadow: 0px 2px 4px rgba(0,0,0.15);
    border-radius: 2px;
    position: absolute;
    right: 15px;
    top: 1px;
    display: flex;
    color: var(--Green);
    justify-content: center;
    align-items: center;
    font-family: var(--Text);
}

/****** Restaurants ******/

.card-title {
    font-size: 16px;
}

.restaurants-card img {
    width: 100%;
    height: 174px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
}

.restaurants-card {
    width: 90.6%;
    height: 251px;
    background-color: var(--Background-light);
    background-color: white;
    border-radius: 20px;
    margin-left: 14px;
    margin-right: 18px;
    margin-bottom: 9px;
    margin-top: 9px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.restaurants {
    background-color: var(--Background-Restaurants);
    padding-bottom: 66px;
    position: relative;
}

.restaurants h2 {
    padding-top: 54px;
    margin-top: 0px;
    margin-left: 20px;
}

.card-title {
    margin-left: 13px;
    margin-bottom: 0px;
    margin-top: 14px;
    font-family: var(--Text);
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.card-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.lieu {
    margin-left: 13px;
    margin-bottom: 12px;
    margin-top: 5px;
    font-family: var(--Text);
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #000000;
}

/****** Footer ******/

footer {
    background-color: var(--Background-Darker);
    color: white;
    padding-left: 25px;
    height: 186px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer h3 {
    margin-top: 0px;
    padding-top: 22px;
    font-family: var(--Title);
    font-weight: 400;
    font-style: italic;
    font-size: 18px;
    line-height: 27px;
}

footer p {
    font-family: var(--Text);
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    padding-top: 7px;
    margin: 0px;
}

.Contact {
    margin-bottom: 0px;
    padding-bottom: 22px;
}

/****** Média Queries ******/

@media (min-width:1025px) {

    .fonctionnement {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }


    .n1 {
    background: #9356DC;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    position: absolute;
    }

    .n2 {
    background: #9356DC;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    position: absolute;
    }

    .n3 {
    background: #9356DC;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    position: absolute;
    }

    .card-title {
    font-size: 16px;
    }

    .restaurants-card img {
    width: 100%;
    height: 174px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    object-fit: cover;
    }

    .restaurants-card {
    width: 38%;
    height: 251px;
    background-color: var(--Background-light);
    background-color: white;
    border-radius: 20px;
    margin-left: 14px;
    margin-right: 104px;
    margin-bottom: 9px;
    margin-top: 32px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    }

    .restaurants h2 {
    padding-top: 54px;
    margin-top: 0px;
    margin-left: 20px;
    }

    .restaurants {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 80px;
    }

    .restauranth2 {
        position: absolute;
        left: 2px;
        top: -25px;
    }

    footer {
        background-color: var(--Background-Darker);
        color: white;
        padding-left: 25px;
        height: 114px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    footer h3 {
        margin-top: 0px;
        padding-top: 22px;
        font-family: var(--Title);
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        line-height: 27px;
        position: absolute;
        right: 40px;
        bottom: 10px;
    }
    
    footer p {
        font-family: var(--Text);
        font-weight: 500;
        font-size: 16px;
        line-height: 18.75px;
        padding-top: 31px;
        margin: 0px;
    }

    .Mentions {
        margin-left: 40px;
    }
    
    .Contact {
        margin-bottom: 0px;
        padding-bottom: 0px;
        padding-right: 5px;
        margin-left: 10px;
    }

    .ustensils {
        margin-right: 10px;
    }

    .empty {
        position:absolute;
        font-size: 22px;
        bottom: 5px;
        right: 44px;
    }

    .full {
        position:absolute;
        font-size: 22px;
        bottom: 5px;
        right: 44px;
    }

}